@font-face {
  font-family: RonduitCapitals-Ligh;; /* Имя шрифта */
  src: url(./fonts/RonduitCapitals-Light.otf) format("opentype"); /* Путь к файлу со шрифтом */
}

*{
  margin: 0;
  padding: 0;
}

body {

  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



